@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*----- Toolbar line at top----- */

/* The next two rules make the horizontal line go straight across in top navbar */

/* TOC book title */
.sidebar-tools-main{
  color: #CA225E!important;
}

#quarto-search div.aa-Autocomplete form.aa-Form.d-flex{
  border-color: #CA225E !important;
}

#quarto-search div.aa-Autocomplete form.aa-Form.d-flex div.aa-InputWrapperPrefix label.aa-Label button.aa-SubmitButton svg.aa-SubmitIcon{
  color: #CA225E !important;
}

.sidebar-title {
    font-size: 1em;
    height: auto;
    line-height: 2em;
}

.sidebar-title>a {
    font-size: 12.8px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: normal !important;
    color: #CA225E !important;
    padding: 0 !important;
    border-left: none;
    letter-spacing: 2pt;

}

.sidebar-item a.sidebar-item-text {
  color: #1a162d99;
}

.sidebar-item a.sidebar-item-text:hover {
  color: #1a162d;
}

.sidebar-item a.sidebar-item-text.active {
  color: #CA225E;
}


/*------------- Body and header text---------------- */

.content {
  font-family: 'Lato', sans-serif;
  color: #404040;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h2, h3 {   
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
}

h1 {
  color: #CA225E;
  font-size: 41px !important;
}

h2 {
  color: #1a162d;
}

h3 {
  font-size: 1.1em;
  color: #1a162d90;
}

h4 {
  font-size: 1.1em;
  color: #1a162d90;
}

h2 code,
h3 code,
h4 code {
  text-transform: none !important;
  font-size: 1em !important;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 3em !important;
  color: #CA225E;
  text-transform: none !important;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  color: #CA225E !important;
}

.subtitle em {
  font-style: normal !important;
}

div.quarto-title-meta {
  grid-template-columns: auto !important;
}

div.quarto-title-meta-contents {
  display: flex;
  color: #1A162D !important;
  text-transform: uppercase;
  letter-spacing: 2pt;
}

div.quarto-title-meta-contents p {
  margin-right: 2.5%;
}


/*-----Body Links-------*/

main.content a {
  color: #ca225e;
}

main.content a:hover {
 color: #ca225e !important; /* darker color when hovering */
 text-decoration: underline;
}


/*------------ TOC --------------*/
/*.sidebar-item a.sidebar-item-text.active*/

.quarto-sidebar, #TOC {
  font-family: 'Lato', sans-serif;
}

.action-links > p {
  margin-bottom: 0.2rem!important;
}

.chapter-number, #TOC ul li .nav-link, .toc-action{
  color:#1a162d99!important;
}
a.sidebar-item-text:hover .chapter-number, #TOC ul li a.nav-link:hover, .toc-action:hover{
  color:#1a162d!important;
}
a.sidebar-item-text.active .chapter-number, #TOC ul li a.nav-link.active, .toc-action.active{
  color:#ca225e!important;
}

/* parts */
.sidebar-item-section>.sidebar-item-container:first-child { 
  color: #1A162D;
  opacity: 1 !important;
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 12.8px !important;
  font-weight: bold;
  white-space: normal !important;
}



/*------------- CODE --------------*/

main.content code, 
main.content pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode div {
  margin: 1em 0; /* see https://github.com/rstudio/bookdown/pull/738*/
}

.sourceCode {
  margin-bottom: 1.5em; /* adds same amount of margin beneath chunk as a <p> would */
}

/* for numbers in code blocks */
pre.numberSource code > span > a:first-child::before {
  left: -0.2em;
}

/*------------- block quotes --------------*/

blockquote > p:last-child {
  text-align: right;
}

blockquote > p:first-child {
  text-align: inherit;
}

/* Div tips */


div.rmdnote, 
div.rstudio-tip, 
div.rmdwarning {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  color: #1a162dcc;
  background-color: #91CBD738;
  border-top: 7pt solid #a19ea936;
  max-width: 100%;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 1pt;
  margin-bottom: 1.5em;
}

div.rmdnote {
  background-image: url("images/robot.png");
}

div.rstudio-tip {
  background-image: url("images/rstudio.png");
}

div.rmdwarning {
  background-image: url("images/error.png");
  background-color: #eab0c41a !important;
}

div.rmdnote code, 
div.rstudio-tip code {
  background-color: #91CBD765 !important;
  font-size: 1em;
}

div.rmdwarning code {
  background-color: #cb9faf52 !important;
  font-size: 1em;
}
/* Package Names */

span.pkg {  
  font-weight: bold;
  letter-spacing: 0.5pt;
  color: #0080a4;
}

/* White space */

p, ul, ol, dl, blockquote, table, pre {
  margin-bottom: 1.5em !important;
}

li p {
  margin-bottom: 1em !important;
}
